:host {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-block-end: 1rem;
    }

    .tree {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .top-header {
        display: flex;
        flex-direction: row;
        padding: .5rem;

        button {
            margin-inline-end: .5rem;
        }
    }
}