<div class="top-header">
  <button (click)="tick()">
    applicationRef.tick()
  </button>
  <button (click)="detectChanges()">
    cdr.detectChanges()
  </button>
  <button (click)="markForCheck()">
    cdr.markForCheck()
  </button>
</div>

<router-outlet></router-outlet>

<!-- <div class="header">
  <button (click)="tick()">
    App.tick()
  </button>
</div>

<div class="tree">
  <app-tree>
    <app-node [name]="'root-node'">
      <app-node [name]="'node-1'">
        <app-node [name]="'node-3'">
          <app-node [name]="'node-7'"></app-node>
          <app-node [name]="'node-8'"></app-node>
        </app-node>
        <app-node [name]="'node-4'">
          <app-node [name]="'node-9'"></app-node>
          <app-node [name]="'node-10'"></app-node>
        </app-node>
      </app-node>
      <app-node [name]="'node-2'">
        <app-node [name]="'node-5'">
          <app-node [name]="'node-11'"></app-node>
          <app-node [name]="'node-12'"></app-node>
        </app-node>
        <app-node [name]="'node-6'">
          <app-node [name]="'node-13'"></app-node>
          <app-node [name]="'node-14'"></app-node>
        </app-node>
      </app-node>
    </app-node>
  </app-tree>
</div> -->