:host {
    // border: 1px solid #5784BA;
    // border-radius: 3px;
    // padding: 1rem;
    margin: 0 .5rem .5rem .5rem;
    background: transparent;
    width: 100%;

    .node::before {
        content: '|';
        position: absolute;
        left: 50%;
        top: -1.5rem;
    }

    .name::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -.85rem;
    }

    .node, .header {
        position: relative;
    }

    .node {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem 0;
        text-align: center;
    }

    .hor-line {
        background: gray;
        height: 1px;
        width: 25px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .name {
        border: 1px solid #5784BA;
        transition: 300ms ease-out;
        border-radius: 3px;
        padding: .55rem;
        min-width: 80px;
    }

    .nodes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: fit-content;
    }

    .highlight {
        background: #B6D8F2;
    }
}